fastapi
uvicorn[standard]
python-multipart
python-dotenv
firebase-admin
langchain
langchain-community
langchain-openai
langchain-google-genai
langchain-text-splitters
langchain-experimental
langchain-huggingface
sentence-transformers
faiss-cpu
pypdf
youtube-transcript-api
pandas
matplotlib
tabulate